@charset "UTF-8";

body {
    width: 820px;
    margin: 10px auto;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 130%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 250px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

canvas {
    display: block;
}

canvas:active {
    cursor: default;
}

.simulation {
    width: 820px;
}

.simulation div {
    margin-right: 10px;
}

.simulation div div {
    margin-bottom: 10px;
}

.verticalText {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    float: left;
}

.twoColumn {
    width: 400px;
}

.threeColumn {
    width: 250px;
}

.sideNoteRight {
    position: absolute;
    right: 0;
    width: 400px;
    margin-left: 410px;
}

.stepLog {
    position: relative;
}

.stepLog p {
    margin-top: 0;
    margin-bottom: 1em;
}

.stepLog > *, .page {
    opacity: 0;
    transition: opacity 1s;
}

.incomplete:before {
    content: "☐";
    position: absolute;
    left: -1.5em;
    font-size: 1.5em;
}

.complete:before {
    content: "☑";
    position: absolute;
    left: -1.5em;
    font-size: 1.5em;
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.toolbar .tool {
}

.toolbar .tool.selected {
    font-weight: bold;
}

.toolbar .tool.disabled {
    opacity: 0.5;
}

.page {
    border-top: 1px solid black;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;
}

.page:first-of-type {
    border-top: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}