--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@charset "UTF-8" 

$backgroundColor: #eee 
$linkColor: #000
$contentWidth: 840px
$contentPadding: 50px
$titleFontSize: 40px
$bodyFontSize: 18px


// general elements

a
    color: $linkColor

input[type="range"]
    -webkit-appearance: none
    width: 250px
    margin: 0 10px
    focus-outline: none
    
    &::-webkit-slider-runnable-track
        height: 10px
        background: #ddd
        border: none
        border-radius: 5px
        
    &::-webkit-slider-thumb
        -webkit-appearance: none
        width: 30px
        height: 30px
        border-radius: 50%
        background: black
        margin-top: -10px

canvas
    display: block
    
    &:active
        cursor: default

html, body
    margin: 0
    padding: 0
    font-family: sans-serif
    font-size: $bodyFontSize
    line-height: 130%

    display: flex
    flex-direction: column
    min-height: 100vh


// layout

header
    background-color: $backgroundColor
    min-height: 100px
    display: flex
    justify-content: center

    .siteTitle
        width: $contentWidth
        padding: $contentPadding
        font-size: $titleFontSize
        text-decoration: none

        &,
        &:visited
            color: black



#body
    flex: 1
    display: flex
    justify-content: center
    align-items: stretch

footer
    min-height: 100px
    background-color: $backgroundColor
    
    display: flex

    a 
        flex: 1
        @extend .centerContent
        text-decoration: none
        font-size: $titleFontSize

        color: transparent

        &:hover
            color: $linkColor
            cursor: pointer


#content
    width: $contentWidth
    padding: $contentPadding
    margin-top: -30px

.navigationArea
    flex: 1

    display: flex

    a
        flex: 1

        @extend .centerContent

        font-size: 100px
        font-family: serif
        text-decoration: none

        color: transparent

        cursor: default

        &:hover
            color: $linkColor
            background-color: $backgroundColor
            cursor: pointer

.chevron
    font-family: serif
    margin-left: 10px

.twoColumn
    width: 400px

.threeColumn
    width: 250px

.sideNoteRight
    position: absolute
    right: 0
    width: 400px
    margin-left: 410px

// graph

.graph
    margin: 20px 0

// controls

.controls
    @extend .flex


// toolbar

.toolbar
    select
        margin-left: 5px
        font-size: $bodyFontSize

// pages

.page
    @extend .flex

.navigationBar
    display: flex
    justify-content: flex-end

    .navigationButton
        border: 1px solid black
        border-radius: 5px
        padding: 10px
        background-color: white
        font-size: 20px

    .navigationButton:active
        color: black
        background-color: #ccc

    .navigationButton.disabled:active
        color: graytext
        background-color: white

// stepLog

.outsideMargin
    position: absolute
    left: -1em
    font-size: 2em

.stepLog
    position: relative

    &.isCompleted:after
        content: "●"
        font-size: 40px
        position: absolute
        left: 50%

    p
        margin-top: 0
        margin-bottom: 1em

    > *
        opacity: 0
        transition: opacity 1s

    .incomplete:before
        @extend .outsideMargin
        content: "☐"

    .complete:before
        @extend .outsideMargin
        content: "☑"



// general classes

.flex
    display: flex
    justify-content: space-between

.centerContent
    display: flex
    align-items: center
    justify-content: center

.hidden
    display: none

.disabled
    opacity: 0.5
    pointer-events: none